<h1>cesar pozo miranda</h1>
<%= params.to_h %>

	<p><%= notice%></p>

<form method="POST" action="<%=pages_save_user_path%>" name="myForm">
<%= hidden_field_tag :authenticity_token, form_authenticity_token %>

	<div class="form-group">
    <label>Nombre</label>
    <input type="text" class="form-control" name="nombre" placeholder="Ingresa tu nombre">
    <div class="form-group">
    <label>Email</label>
    <input type="text" class="form-control" name="correo" placeholder="Ingresa tu correo">
    <div class="form-group">
    <label>Edad</label>
    <input type="number" class="form-control" name="edad" placeholder="Ingresa tu edad">

     <small id="emailHelp" class="form-text text-muted"></small>
  </div>

    <button type="submit" class="btn btn-primary">Submit</button>


  
</form>